In [1]:
import pandas as pd
import numpy as np

In [2]:
train=pd.read_csv('Training data.csv')

In [17]:
train.head()

,income,age,experience,married,house_ownership,car_ownership,profession,state,current_job_years,current_house_years,risk_flag
0,1303835,23,3,2,3,1,34,14,3,13,0
1,7574516,40,10,2,3,1,44,15,9,13,0
2,3991815,66,4,1,3,1,48,13,4,10,0
3,6256451,41,2,2,3,2,44,18,2,12,1
4,5768871,47,11,2,3,1,12,23,3,14,1

In [6]:
train=train.drop(['Id','city'],axis=1)

In [7]:
from sklearn.preprocessing import LabelEncoder

In [10]:
set=['married', 'house_ownership',
       'car_ownership', 'profession', 'state']
for i in set:
    le=LabelEncoder()
    train[i]=le.fit_transform(train[i])
    train[i]=train[i]+1

In [11]:
train.head()

,income,age,experience,married,house_ownership,car_ownership,profession,state,current_job_years,current_house_years,risk_flag
0,1303835,23,3,2,3,1,34,14,3,13,0
1,7574516,40,10,2,3,1,44,15,9,13,0
2,3991815,66,4,1,3,1,48,13,4,10,0
3,6256451,41,2,2,3,2,44,18,2,12,1
4,5768871,47,11,2,3,1,12,23,3,14,1

In [13]:
from sklearn.naive_bayes import GaussianNB

In [14]:
nb=GaussianNB()

In [15]:
X=train.drop(['risk_flag'],axis=1)
y=train['risk_flag']
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,y)

In [16]:
nb.fit(x_train,y_train)

GaussianNB()

In [18]:
np.logspace(0,-9, num=10)

array([1.e+00, 1.e-01, 1.e-02, 1.e-03, 1.e-04, 1.e-05, 1.e-06, 1.e-07,
       1.e-08, 1.e-09])

In [21]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RepeatedStratifiedKFold
cv_method = RepeatedStratifiedKFold(n_splits=5, 
                                    n_repeats=3, 
                                    random_state=999)
params_NB = {'var_smoothing': np.logspace(0,-9, num=100)}
gs_NB = GridSearchCV(estimator=nb, 
                     param_grid=params_NB, 
                     cv=cv_method,
                     verbose=1, 
                     scoring='accuracy')
gs_NB.fit(x_train, y_train);
print(gs_NB.best_params_)

print(gs_NB.best_score_)

Fitting 15 folds for each of 100 candidates, totalling 1500 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

{'var_smoothing': 1.0}
0.8776243386243386

[Parallel(n_jobs=1)]: Done 1500 out of 1500 | elapsed:  1.8min finished